@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,400;1,600&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  box-sizing: border-box;
  background-color: #000;
  color: white;
  margin: 10%;
}

.titulo-destaque {
  color: #22d4fd;
}

.apresentacao {
  margin: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.apresentacao___conteudo {
  width: 615px;
}

.apresentacao___conteudo___titulo {
  font-size: 36px;
  font-family: "Krona One", sans-serif;
}

.apresentacao___conteudo___texto {
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
}

.apresentacao___links {
  display: flex;
  justify-content: space-between;
}

.apresentacao___links___links {
  background-color: #22d4fd;
  width: 180px;
  text-align: center;
  border-radius: 16px;

  padding: 21.5px;

  /* tirar sublinhado */
  text-decoration: none;

  font-size: 24px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  color: #000;
}
