@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,400;1,600&display=swap");

:root {
  --cor--primaria: #040d12;
  --cor--secundaria: #f6f6f6;
  --cor--terciaria: #00d1a0;
  --cor--hover: #00f0b84f;
  --fonte--primaria: "Montserrat", sans-serif;
  --fonte--secundaria: "Krona One", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

body {
  /* height: 100vh; */
  box-sizing: border-box;
  background-color: var(--cor--primaria);
  color: var(--cor--secundaria);
}

.cabecalho {
  padding: 2% 0 0 15%; /* superior, direito, inferior, esquerdo */
}

.cabecalho___menu {
  display: flex;
  gap: 80px;
}

.cabecalho___menu___link {
  font-family: var(--fonte--primaria);
  font-size: 24px;
  font-weight: 600;
  color: var(--cor--terciaria);
  text-decoration: none;
}

.cabecalho___menu___link:hover {
  color: var(--cor--secundaria);
  transform: scale(1.05); /* Aumenta o tamanho em 10% */
  transition: box-shadow 250ms ease 100ms, transform 100ms ease 50ms;
}

.apresentacao {
  padding: 5% 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.apresentacao___conteudo {
  width: 615px;
  display: flex;
  flex-direction: column;
  gap: 40px; /* A propriedade gap não é exclusiva do Flexbox, porém é utilizada quase sempre em conjunto com ele. Ela especifica no CSS o tamanho dos espaços entre linhas e colunas em layouts de grid, flex e multi-column. Sua sintaxe é bem simples e ela aceita um ou dois valores. */
}

.apresentacao___conteudo___titulo {
  font-size: 36px;
  font-family: var(--fonte--secundaria);
}

.titulo-destaque {
  color: var(--cor--terciaria);
}

.apresentacao___conteudo___texto {
  font-size: 24px;
  font-family: var(--fonte--primaria);
}

.apresentacao___links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}

.apresentacao___links___links {
  /* background-color: var(--cor--terciaria); */
  width: 180px;
  text-align: center;
  border-radius: 8px;
  border: solid 2px var(--cor--terciaria);
  padding: 21.5px;
  text-decoration: none; /* tirar sublinhado */
  font-size: 24px;
  font-weight: 600;
  font-family: var(--fonte--primaria);
  color: var(--cor--secundaria);
  display: flex;
  justify-content: center;
  gap: 16px;
}

.apresentacao___links___links:hover {
  background-color: var(--cor--hover);
  transform: scale(1.05); /* Aumenta o tamanho em 10% */
  box-shadow: 0px 0px 20px var(--cor--terciaria); /* Adiciona uma sombra suave no hover */
  transition: box-shadow 250ms ease 100ms, transform 100ms ease 50ms;
}

.apresentacao___links___subtitulo {
  font-family: var(--fonte--secundaria);
  font-weight: 400;
}

.rodape {
  background-color: var(--cor--terciaria);
  color: #000;
  font-family: var(--fonte--primaria);
  font-weight: 400;
  text-align: center;
  padding: 24px;
}
